@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(246,240,238);
  background: linear-gradient(90deg, rgba(246, 240, 238, 0.671) 0%, rgba(255, 244, 228, 0.597) 100%);
}